.info {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.info__popup_opened {
  opacity: 1;
  height: 100%;
  transition: opacity 0.3s ease, height 0s ease;
}
.info__popup_closing {
  animation: fadeOut 0.3s ease;
}

.info__popup {
  position: sticky;
  width: 430px;
  height: 330px;
  margin: auto;
  top: 195px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__image {
  margin-top: 60px;
}

.info__description {
  width: 358px;
  height: 58px;
  margin-top: 32px;
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  line-height: normal;
}

.info__button-close-popup {
  position: absolute;
  right: -37px;
  top: -37px;
  background: url(../../images/Close_Icon.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.info__button-close-popup:hover {
  opacity: 0.8;
  border-radius: 2px;
}

@media screen and (max-width: 588px) {
  .info__popup {
    width: 280px;
    height: 308px;
    top: 172px;
  }

  .info__image {
    margin-top: 50px;
  }

  .info__button-close-popup {
    width: 26px;
    height: 26px;
    right: 127px;
    top: -63.62px;
  }

  .info__description {
    width: 242px;
    height: 72px;
    margin-top: 25px;
    font-size: 24px;
    
  }
}
